CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
/.vs
/build
/compile
/libSDL2
*.sln
/manifest.rc
/include/FenixEngine.h
/FenixEngine.pc
/Debug
/x64/Debug/FenixEng.56B0335A.tlog
/x64/Debug
/CMakeSettings.json
/CppProperties.json
/manifest.aps
/Release
/x64/Release
/FenixEngine_SHARED/Debug
/FenixEngine_SHARED/Release
/Win32
/deploy
/msbuild.help
/examples/.vs
/examples/bin
